.index-page {
  height: 100%;
  overflow-y: scroll;
}
.filterCheckbox {
  justify-content: space-between;
}

.filterCheckbox,
.checkboxList {
  display: flex;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.filterCheckbox > div:first-child {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.filterCheckbox > div > * {
  margin-bottom: 0;
  margin-right: 8px;
}

.checkboxList {
  flex-wrap: wrap;
}
.checkboxListItemInner {
}
.checkboxListItem {
  user-select: none;
  white-space: nowrap;
  height: auto;
  font-size: 0.7rem;
}
.checkboxListItem:last-child {
  margin-right: 0;
}
.checkboxListItem_src-pages-styles-module {
  border: none !important;
}
.checkboxLabel {
  border: none;
}

.searchContainer {
  margin-left: auto;
  width: 10.6rem;
}
.searchCenter {
  display: flex;
  border: 1px solid #9f8f8f;
  align-items: center;
  padding: 0.3rem 0.5rem;
  border-radius: 1.2rem;
  align-items: center;
}
.searchCenterFocus {
  border: 1px solid #F13557;
}
.searchCenterFocus svg{
  color: #F13557;
}
.searchmagnifier {
  width: 0.85rem;
  height: 0.85rem;
}
.searchmagnifier svg {
  width: 0.85rem;
  height: 0.85rem;
  display: block;
}
.searchContainer input {
  height: 0.85rem;
  border: none;
  margin: 0.3rem 0.7rem 0.3rem 0.315rem;
  background: none!important;
}
/* 去掉 选中后的高亮 */
.searchContainer input:focus {
  outline: none;
}
.showcaseList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  margin: 0;
  gap: 20px;
}

.showcaseFavorite {
  /* padding-top: 2rem; */
  padding-bottom: 3rem;
  /* background-color: var(--site-color-favorite-background); */
}

.showcaseFavoriteHeader {
  display: flex;
  align-items: center;
}

.showcaseFavoriteHeader > h2 {
  margin-bottom: 0;
  font-size: 1.375rem;
}

.showcaseFavoriteHeader > svg {
  width: 1.0625rem;
  height: .9375rem;
  margin-left: .75rem;
}

.svgIconFavoriteXs,
.svgIconFavorite {
  color: #f13557!important;
}

.svgIconFavoriteXs {
  margin-left: 0.625rem;
  font-size: 1rem;
}

.svgIconFavorite {
  margin-left: 1rem;
}

/* UI调整头部 */
.top-bg {
  position: relative;
  padding: 5rem 0 42px 0;
}
.top-img {
  position: absolute;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 22.5625rem;
  z-index: 1;
  object-fit: cover;
}
.top-p {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
}
.top-text {
  position: relative;
  z-index: 2;
}
.top-text h1 {
  font-size: 3rem;
  color: #000000;
  margin-bottom: 2px;
}
/* filter */
.filter-view {
  position: relative;
  z-index: 2;
}
.filter-view::after {
  content: "";
  position: absolute;
  bottom: -3.6rem;
  left: 50%;
  width: 18.4rem;
  height: 18.4rem;
  background: url(https://tiwen.redtom.com/static/imgs/index/bg-yuan.png) no-repeat 0 0;
  background-size: 100%;
  border-radius: 50%;
  z-index: 1;
  margin-left: -9.2rem;

}
.filter-view-inner {
  position: relative;
  z-index: 2;
  padding: 2rem 1.4375rem;
  margin-bottom: 3.6rem;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid #ffffff;
  box-shadow: 0px 3.25rem 3.5rem rgba(187, 231, 255, 0.25);
  backdrop-filter: blur(2.6563rem);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 1.875rem;
}
.expand-bar {
  width: 10rem;
  height: 2.125rem;
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.25rem;
  color: #454545;
  position: absolute;
  bottom: 40px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  /* background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.4), 30%); */
}
.filter-retract {
  /* height: 8.4rem;
  overflow: hidden; */
}
.filter-expand {
  height: auto;
  overflow: auto;
}
.expand-bar-span {
  width: 1.25rem;
  height: 1.25rem;
  background: #FFFFFF;
  border: 1px solid #DDE2E4;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
  margin-left: .25rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expand-bar-up {
  transform: rotate(180deg);
}
.filter-view .h2 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.375rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.006em;
  color: #3a3a3a;
  margin-right: 0.6rem;
}

/* 以上单位需要调整 */
.filter-bar {
  margin-bottom: 0.6rem;
}
.total-span {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.006em;
}

.suspend-view {
  position: relative;
  z-index: 10;
}
.btn-chat, .btn-top {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: .375rem .5rem;
  gap: 4px;
  border: 1px solid #DDE2E4;
  box-shadow: 0px .25rem .25rem rgba(0, 0, 0, 0.06);
  border-radius: .5rem;
  background: #FFFFFF;
  z-index: 10;
  cursor: pointer;
}
.btn-chat {
  position: fixed;
  bottom: 11.5625rem;
  right: 1.25rem
}
.btn-top {
  position: fixed;
  bottom: 8rem;
  right: 1.25rem
}
.btn-chat .svg, .btn-top .svg {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}
.btn-chat .span, .btn-top .span {
  display: block;
  font-weight: 400;
  font-size: .75rem;
  line-height: .875rem;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -0.006rem;
  color: #454545;
}
.btn-chat:hover, .btn-top:hover {
  background-color: #F0F0F0;
}
.btn-top .svg {
  margin-top: -7px;
}
.btn-top .span {
  margin-top: -9px;
}

.hover-img-view {
  padding: .1875rem;
  filter: drop-shadow(0px .375rem .625rem rgba(0, 0, 0, 0.1));
  position: fixed;
  bottom: 7.9rem;
  right: 4.6rem;
  background: #FFFFFF;
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hover-img-svg {
  width: 18px;
  height: 12px;
  display: block;
  position: absolute;
  right: -12px;
  top: 50%;
  margin-top: -6px;
}
.hover-img-view .img {
  width: 10.375rem;
  height: 10.375rem;
}
/* .btn-top .span {
  margin-top: -.25rem;
} */
