.filterCheckbox {
  justify-content: space-between;
}

.filterCheckbox,
.checkboxList {
  display: flex;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.filterCheckbox > div:first-child {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.filterCheckbox > div > * {
  margin-bottom: 0;
  margin-right: 8px;
}

.checkboxList {
  flex-wrap: wrap;
}
.checkboxListItemInner {
}
.checkboxListItem {
  user-select: none;
  white-space: nowrap;
  height: auto;
  font-size: 0.7rem;
}
.checkboxListItem:last-child {
  margin-right: 0;
}
.checkboxListItem_src-pages-styles-module {
  border: none !important;
}
.checkboxLabel {
  border: none;
}

.searchContainer {
  margin-left: auto;
}
.searchCenter {
  display: flex;
  border: 1px solid #9f8f8f;
  align-items: center;
  padding: 0.3rem 0.5rem;
  border-radius: 1.2rem;
  align-items: center;
}
.searchmagnifier {
  width: 0.85rem;
  height: 0.85rem;
}
.searchmagnifier svg {
  width: 0.85rem;
  height: 0.85rem;
  display: block;
}
.searchContainer input {
  height: 0.85rem;
  border: none;
  margin: 0.3rem 0.7rem 0.3rem 0.315rem;
  background-color: #ffffff;
}
/* 去掉 选中后的高亮 */
.searchContainer input:focus {
  outline: none;
}
.showcaseList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

.showcaseFavorite {
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* background-color: var(--site-color-favorite-background); */
}

.showcaseFavoriteHeader {
  display: flex;
  align-items: center;
}

.showcaseFavoriteHeader > h2 {
  margin-bottom: 0;
}

.showcaseFavoriteHeader > svg {
  width: 1.1rem;
  height: auto;
  margin-left: .6rem;
}

.svgIconFavoriteXs,
.svgIconFavorite {
  color: #f13557;
}

.svgIconFavoriteXs {
  margin-left: 0.625rem;
  font-size: 1rem;
}

.svgIconFavorite {
  margin-left: 1rem;
}

/* UI调整头部 */
.top-bg {
  position: relative;
  padding: 2rem 0 2.1rem 0;
}
.top-img {
  content: "";
  position: absolute;
  top: -1.97rem;
  left: 0;
  width: 100%;
  height: 22.5625rem;
  /* background: url(/static/img/bg.png) no-repeat top center; */
  background-size: 100% auto;
  z-index: 1;
}
.top-p {
  padding: 0;
  margin: 0;
}
.top-text {
  position: relative;
  z-index: 2;
}
/* filter */
.filter-view {
  position: relative;
  z-index: 2;
}
.filter-view::after {
  content: "";
  position: absolute;
  bottom: -3.6rem;
  left: 50%;
  width: 18.4rem;
  height: 18.4rem;
  background: #e3f5ff;
  border-radius: 50%;
  z-index: 1;
  margin-left: -9.2rem;
}
.filter-view-inner {
  position: relative;
  z-index: 2;
  padding: 1.875rem 1.25rem;
  margin-bottom: 3.6rem;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid #ffffff;
  box-shadow: 0px 3.25rem 3.5rem rgba(187, 231, 255, 0.25);
  backdrop-filter: blur(2.6563rem);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 1.875rem;
}
.filter-view .h2 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.375rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.006em;
  color: #3a3a3a;
  margin-right: 0.6rem;
}

/* 以上单位需要调整 */
.filter-bar {
  margin-bottom: 0.6rem;
}
.total-span {
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.006em;
}
